################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Grad_01/APIs/bin/Debug/net7.0/APIs.dll
/Grad_01/APIs/bin/Debug/net7.0/APIs.exe
/Grad_01/APIs/bin/Debug/net7.0/APIs.pdb
/Grad_01/APIs/bin/Debug/net7.0/appsettings.json
/Grad_01/APIs/bin/Debug/net7.0/BusinessObjects.dll
/Grad_01/APIs/bin/Debug/net7.0/BusinessObjects.pdb
/Grad_01/APIs/bin/Debug/net7.0/DataAccess.dll
/Grad_01/APIs/bin/Debug/net7.0/DataAccess.pdb
/Grad_01/.vs/ProjectEvaluation/grad_01.metadata.v7.bin
/Grad_01/.vs/ProjectEvaluation/grad_01.projects.v7.bin
/Grad_01/.vs/Grad_01/DesignTimeBuild/.dtbcache.v2
/Grad_01/.vs/Grad_01/v17/.futdcache.v2
/Grad_01/.vs/Grad_01/v17/.suo
/Grad_01/APIs/obj/Debug/net7.0/APIs.AssemblyInfo.cs
/Grad_01/APIs/obj/Debug/net7.0/APIs.AssemblyInfoInputs.cache
/Grad_01/APIs/obj/Debug/net7.0/APIs.assets.cache
/Grad_01/APIs/obj/Debug/net7.0/APIs.csproj.AssemblyReference.cache
/Grad_01/APIs/obj/Debug/net7.0/APIs.csproj.CoreCompileInputs.cache
/Grad_01/APIs/obj/Debug/net7.0/APIs.csproj.FileListAbsolute.txt
/Grad_01/APIs/obj/Debug/net7.0/APIs.dll
/Grad_01/APIs/obj/Debug/net7.0/APIs.pdb
/Grad_01/APIs/obj/Debug/net7.0/APIs.sourcelink.json
/Grad_01/APIs/obj/Debug/net7.0/apphost.exe
/Grad_01/APIs/obj/Debug/net7.0/ref/APIs.dll
/Grad_01/APIs/obj/Debug/net7.0/refint/APIs.dll
/Grad_01/BusinessObjects/obj/Debug/net7.0/BusinessObjects.AssemblyInfo.cs
/Grad_01/BusinessObjects/obj/Debug/net7.0/BusinessObjects.AssemblyInfoInputs.cache
/Grad_01/BusinessObjects/obj/Debug/net7.0/BusinessObjects.csproj.CoreCompileInputs.cache
/Grad_01/BusinessObjects/obj/Debug/net7.0/BusinessObjects.csproj.FileListAbsolute.txt
/Grad_01/BusinessObjects/obj/Debug/net7.0/BusinessObjects.dll
/Grad_01/BusinessObjects/obj/Debug/net7.0/BusinessObjects.genruntimeconfig.cache
/Grad_01/BusinessObjects/obj/Debug/net7.0/BusinessObjects.pdb
/Grad_01/BusinessObjects/obj/Debug/net7.0/BusinessObjects.sourcelink.json
/Grad_01/BusinessObjects/obj/Debug/net7.0/refint/BusinessObjects.dll
/Grad_01/BusinessObjects/obj/Debug/net7.0/ref/BusinessObjects.dll
/Grad_01/BusinessObjects/obj/project.assets.json
/Grad_01/BusinessObjects/obj/project.nuget.cache
/Grad_01/DataAccess/bin/Debug/net7.0/BusinessObjects.dll
/Grad_01/DataAccess/bin/Debug/net7.0/BusinessObjects.pdb
/Grad_01/DataAccess/bin/Debug/net7.0/DataAccess.dll
/Grad_01/DataAccess/bin/Debug/net7.0/DataAccess.pdb
/Grad_01/DataAccess/DAO/E-com/PostDAO.cs
/Grad_01/DataAccess/obj/Debug/net7.0/DataAccess.AssemblyInfo.cs
/Grad_01/DataAccess/obj/Debug/net7.0/DataAccess.AssemblyInfoInputs.cache
/Grad_01/DataAccess/obj/Debug/net7.0/DataAccess.csproj.AssemblyReference.cache
/Grad_01/DataAccess/obj/Debug/net7.0/DataAccess.csproj.CoreCompileInputs.cache
/Grad_01/DataAccess/obj/Debug/net7.0/DataAccess.csproj.FileListAbsolute.txt
/Grad_01/DataAccess/obj/Debug/net7.0/DataAccess.dll
/Grad_01/DataAccess/obj/Debug/net7.0/DataAccess.pdb
/Grad_01/DataAccess/obj/Debug/net7.0/DataAccess.sourcelink.json
/Grad_01/BusinessObjects/bin/Debug/net7.0/BusinessObjects.dll
/Grad_01/BusinessObjects/bin/Debug/net7.0/BusinessObjects.pdb
/Grad_01/DataAccess/obj/project.assets.json
/Grad_01/DataAccess/obj/project.nuget.cache
/Grad_01/DataAccess/obj/Debug/net7.0/refint/DataAccess.dll
/Grad_01/DataAccess/obj/Debug/net7.0/ref/DataAccess.dll
/Grad_01/DataAccess/DAO/Trading/CommentDAO.cs
/Grad_01/DataAccess/DAO/Trading/PostDAO.cs
/Grad_01/DataAccess/DAO/Trading/PostInterestDAO.cs
/Grad_01/DataAccess/DAO/Trading/TradeDetailDAO.cs
/Grad_01/APIs/Services/CartService.cs
/Grad_01/APIs/Services/OrderService.cs
/Grad_01/APIs/Services/PostService.cs
/Grad_01/APIs/Services/Intefaces/IAccountService.cs
/Grad_01/APIs/Services/Intefaces/IAdminService.cs
/Grad_01/APIs/Services/Intefaces/IBookService.cs
/Grad_01/APIs/Services/Intefaces/ICartService.cs
/Grad_01/APIs/Services/Intefaces/ICategoryService.cs
/Grad_01/APIs/Services/Intefaces/ICloudinaryService.cs
/Grad_01/APIs/Services/Intefaces/IOrderService.cs
/Grad_01/APIs/Services/Intefaces/ISellService.cs
/Grad_01/APIs/Services/Intefaces/ISubscriptionService.cs
/Grad_01/APIs/Services/Intefaces/ITokenService.cs
/Grad_01/APIs/Services/Intefaces/ITransactionService.cs
/Grad_01/APIs/Services/Intefaces/IVnPayService.cs
/Grad_01/APIs/Services/Intefaces/IWorkService.cs
/Grad_01/APIs/Services/CartService.cs
/Grad_01/APIs/Services/OrderService.cs
/Grad_01/APIs/Services/PostService.cs
/Grad_01/APIs/bin/Debug/net7.0/APIs.dll
/Grad_01/APIs/bin/Debug/net7.0/APIs.exe
/Grad_01/APIs/bin/Debug/net7.0/APIs.pdb
/Grad_01/APIs/bin/Debug/net7.0/appsettings.json
/Grad_01/APIs/bin/Debug/net7.0/BusinessObjects.dll
/Grad_01/APIs/bin/Debug/net7.0/BusinessObjects.pdb
/Grad_01/APIs/bin/Debug/net7.0/DataAccess.dll
/Grad_01/APIs/bin/Debug/net7.0/DataAccess.pdb
/Grad_01/.vs/ProjectEvaluation/grad_01.metadata.v7.bin
/Grad_01/.vs/ProjectEvaluation/grad_01.projects.v7.bin
/Grad_01/.vs/Grad_01/v17/.futdcache.v2
/Grad_01/.vs/Grad_01/v17/.suo
/Grad_01/.vs/Grad_01/DesignTimeBuild/.dtbcache.v2
/Grad_01/BusinessObjects/bin/Debug/net7.0/BusinessObjects.dll
/Grad_01/BusinessObjects/bin/Debug/net7.0/BusinessObjects.pdb
/Grad_01/APIs/obj/Debug/net7.0/ref/APIs.dll
/Grad_01/APIs/obj/Debug/net7.0/refint/APIs.dll
/Grad_01/BusinessObjects/obj/Debug/net7.0/BusinessObjects.AssemblyInfo.cs
/Grad_01/BusinessObjects/obj/Debug/net7.0/BusinessObjects.AssemblyInfoInputs.cache
/Grad_01/BusinessObjects/obj/Debug/net7.0/BusinessObjects.csproj.CoreCompileInputs.cache
/Grad_01/BusinessObjects/obj/Debug/net7.0/BusinessObjects.csproj.FileListAbsolute.txt
/Grad_01/BusinessObjects/obj/Debug/net7.0/BusinessObjects.dll
/Grad_01/BusinessObjects/obj/Debug/net7.0/BusinessObjects.genruntimeconfig.cache
/Grad_01/BusinessObjects/obj/Debug/net7.0/BusinessObjects.pdb
/Grad_01/BusinessObjects/obj/Debug/net7.0/BusinessObjects.sourcelink.json
/Grad_01/BusinessObjects/obj/project.assets.json
/Grad_01/BusinessObjects/obj/project.nuget.cache
/Grad_01/BusinessObjects/obj/Debug/net7.0/ref/BusinessObjects.dll
/Grad_01/BusinessObjects/obj/Debug/net7.0/refint/BusinessObjects.dll
/Grad_01/DataAccess/bin/Debug/net7.0/BusinessObjects.dll
/Grad_01/DataAccess/bin/Debug/net7.0/BusinessObjects.pdb
/Grad_01/DataAccess/bin/Debug/net7.0/DataAccess.dll
/Grad_01/DataAccess/bin/Debug/net7.0/DataAccess.pdb
/Grad_01/DataAccess/DAO/E-com/PostDAO.cs
/Grad_01/DataAccess/DAO/Trading/PostDAO.cs
/Grad_01/DataAccess/obj/Debug/net7.0/DataAccess.AssemblyInfo.cs
/Grad_01/DataAccess/obj/Debug/net7.0/DataAccess.AssemblyInfoInputs.cache
/Grad_01/DataAccess/obj/Debug/net7.0/DataAccess.csproj.AssemblyReference.cache
/Grad_01/DataAccess/obj/Debug/net7.0/DataAccess.csproj.CoreCompileInputs.cache
/Grad_01/DataAccess/obj/Debug/net7.0/DataAccess.csproj.FileListAbsolute.txt
/Grad_01/DataAccess/obj/Debug/net7.0/DataAccess.dll
/Grad_01/DataAccess/obj/Debug/net7.0/DataAccess.pdb
/Grad_01/DataAccess/obj/Debug/net7.0/DataAccess.sourcelink.json
/Grad_01/DataAccess/obj/project.assets.json
/Grad_01/DataAccess/obj/project.nuget.cache
/Grad_01/DataAccess/obj/Debug/net7.0/refint/DataAccess.dll
/Grad_01/DataAccess/obj/Debug/net7.0/ref/DataAccess.dll
/Grad_01/APIs/Controllers/OrderController.cs
